.wrapper{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin: 2rem;
    background-color: grey;
    padding:1rem;
}

.span{
  background-color: white;
  border: 1px solid red;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}